# Игнорируем виртуальное окружение (самое тяжелое)
.venv/
venv/
ENV/

# Игнорируем кэш и данные (картинки, которые ты уже скачал)
data/
media_cache/

# Игнорируем временные файлы Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем дампы базы данных
*.sql

# Игнорируем папки IDE и Git
.git/
.gitignore
.vscode/
.idea/

# Игнорируем секреты (они прокидываются через env_file в compose)
.env
.env.prod

# Игнорируем логи
*.log